<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="My Bookshelf"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookLibrary"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".Update_Book"
            android:exported="false"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Add_Book"
            android:exported="false"
            android:label="Add Book"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Add_Author"
            android:exported="false"
            android:label="Add Book"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".Update_Author"
            android:exported="false"
            android:label="Add Book"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".Author_View"
            android:exported="false"
            android:label="Add Book"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".Api_Book_View"
            android:exported="false"
            android:label="Add Book"
            android:parentActivityName=".MainActivity"></activity>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        <!--> Activity<!-->
        <activity

            android:name=".MainActivity"
            android:exported="true"
            android:label="Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>